.portlet-problem {
    padding-top: 3px;
    padding-bottom: 3px;
}

.p-problem-icon {
    float: left;
    width: 16px;
    height: 16px;
}

.p-problem-severity {
    float: left;
    font-size: 10px;
}

.p-problem-text {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.p-problem-message {
    font-weight: bold;
}

.p-problem-solve {
}

.p-problem-repair-icon {
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    float: right;
}
