.p-dashboard-watermark {
    position: absolute;
    right: 40px;
    bottom: 30px;
    filter: alpha(opacity=40);
    opacity: .40;
    z-index: 5;
    width: 168px;
    height: 45px;
}

.p-dashboard-info {
    position: absolute;
    left: 20px;
    bottom: 30px;
    filter: alpha(opacity=40);
    opacity: .35;
    z-index: 5;
}
.p-dashboard-info pre {
    margin: 0;
}

.xxp-dashboard-portal-panel .x-column {
    position: relative;
    z-index:10
}




.x-panel-ghost {
    z-index: 1;
}
.x-border-layout-ct {
    background: #DFE8F6;
}
.x-portal-body {
    padding: 0 0 0 8px;
}
.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-portlet {
    margin-bottom:10px;
    padding: 1px;
}
.x-portlet .x-panel-body {
    background: #fff;
}
