.p-dashboard-main-panel .x-border-layout-ct {
    background-color: white;
}

.p-dashboard-watermark {
    position: absolute;
    right: 40px;
    bottom: 30px;
    filter: alpha(opacity=40);
    opacity: .40;
    z-index: 5;
    width: 168px;
    height: 45px;
}

.p-dashboard-info {
    position: absolute;
    left: 20px;
    bottom: 30px;
    filter: alpha(opacity=40);
    opacity: .35;
    z-index: 5;
}
.p-dashboard-info pre {
    margin: 0;
}

.p-dashboard-portal-panel .x-column {
    position: relative; z-index:10
}

.p-dashboard-list-window .list-item {
    padding: 5px;
    color: #15428B;
    font-weight: bold;
}
.p-dashboard-list-window .list-item .image {
    float: left;
}
.p-dashboard-list-window .list-item .text {
    padding-left: 130px;
}
.p-dashboard-list-window .list-item .title {
    padding: 5px;
    color: #15428B;
    font-size: 13px;
    font-weight: bold;
}
.p-dashboard-list-window .list-item .description {
    padding: 0 5px 5px 5px;
    color: black;
    font-weight: normal;
}