.p-elementtypes-grid .x-grid3-cell-inner img {
    vertical-align: middle;
}

.p-elementtypes-grid .p-elementtype-grid-selected .x-grid3-cell-inner {
    font-weight: bold;
}

.p-elementtypes-value-grid .p-elementtype-value-grid-default .x-grid3-cell-inner {
    font-weight: bold;
}

.p-elementtypes-value-grid .p-elementtype-value-grid-default {
    background: #FFFFA8 none repeat scroll 0% 50%;
}

.p-elementtype-tree .dirty span.x-tree-node-text {
    font-style: italic;
}

.p-elementtype-tree .valid span.x-tree-node-text {
    color: green;
}

.p-elementtype-tree .invalid span.x-tree-node-text {
    color: red;
}

/* ***** FULL ***** */

.p-elementtype-tree .p-elementtypes-type-full {
    background-color: #D5E9FF;
    border-top: 1px solid #C6DAEF;
    border-bottom: 1px solid #C6DAEF;
    margin-top: 1px;
    padding-bottom: 1px;
    padding-top: 2px;
}

.p-elementtype-tree .p-elementtype-type-full .x-tree-node-icon {
    width: 18px;
    height: 18px;
}

/* ***** STRUCTURE ***** */

.p-elementtype-tree .p-elementtypes-type-structure {
    background-color: #FFCCDA;
    border-top: 1px solid #E9BBC7;
    border-bottom: 1px solid #E9BBC7;
    margin-top: 1px;
    padding-bottom: 1px;
    padding-top: 2px;
}

.p-elementtype-tree .p-elementtypes-type-structure .x-tree-node-icon {
    width: 18px;
    height: 18px;
}

/* ***** PART ***** */

.p-elementtype-tree .p-elementtypes-type-part {
    background-color: #DCFFD5;
    border-top: 1px solid #C3E3BD;
    border-bottom: 1px solid #C3E3BD;
    margin-top: 1px;
    padding-bottom: 1px;
    padding-top: 2px;
}

.p-elementtype-tree .p-elementtypes-type-part .x-tree-node-icon {
    width: 18px;
    height: 18px;
}

/* ***** LAYOUT ***** */

.p-elementtype-tree .p-elementtypes-type-layout {
    background-color: #FFF7D7;
    border-top: 1px solid #FFE696;
    border-bottom: 1px solid #FFE696;
    margin-top: 1px;
    padding-bottom: 1px;
    padding-top: 2px;
}

.p-elementtype-tree .p-elementtypes-type-layout .x-tree-node-icon {
    width: 18px;
    height: 18px;
}

/* ***** ROOT? ***** */

.p-elementtype-tree .p-elementtypes-type-root {
    background-color: #FFB0B0;
    border-top: 1px solid #CCE5FF;
    border-bottom: 1px solid #CCE5FF;
    margin-top: 1px;
    padding-bottom: 1px;
    padding-top: 2px;
}

.p-elementtype-tree .p-elementtypes-type-root .x-tree-node-icon {
    width: 18px;
    height: 18px;
}

/* ***** REFERENCEROOT ***** */

.p-elementtype-tree .p-elementtypes-type-referenceroot {
    background-color: #FFB0B0;
    border-top: 1px solid #FF7A7A;
    border-bottom: 1px solid #FF7A7A;
    margin-top: 1px;
    padding-bottom: 1px;
    padding-top: 2px;
}

.p-elementtype-tree .p-elementtypes-type-referenceroot .x-tree-node-icon {
    width: 18px;
    height: 18px;
}



.p-elementtype-tree .p-elementtypes-type-tab {
    background-color: #DADADA;
    border-top: 1px solid #D5D5D5;
    border-bottom: 1px solid #D5D5D5;
}

.p-elementtype-tree .p-elementtypes-type-accordion {
    background-color: #E5E5E5;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}

.p-elementtype-tree .p-elementtypes-type-group {
    background-color: #EFEFEF;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}

.p-elementtype-tree .p-elementtypes-type-reference {
    background-color: #FFB0B0;
    border-bottom: 1px solid #FF7C7C;
    border-top: 1px solid #FF7C7C;
    margin-top: 1px;
    padding-bottom: 1px;
    padding-top: 2px;
}

.p-elementtype-tree .p-elementtypes-node {
    padding: 1px;
}

.p-elementtype-tree .p-elementtypes-reference {
    background-color: #FFDDDD !important;
}

.p-elementtypes-newelementtype .p-header-image {
    background: transparent url(/COMPONENTSPATH/phlexiblemediamanager/images/filedialog.gif) no-repeat !important;
}

.p-elementtypes-panel .x-layout-collapsed-west {
    background-image: url(/COMPONENTSPATH/phlexibleelementtype/images/panel_elementtypes.png);
    background-repeat: no-repeat;
    background-position: center;
}

.p-elementtypes-2-panel .x-layout-collapsed-west {
    background-image: url(/COMPONENTSPATH/phlexibleelementtype/images/panel_template.png);
    background-repeat: no-repeat;
    background-position: center;
}

.p-elementtypes-accordion .x-panel .x-accordion-hd .error {
    color: red;
}
