.p-queue-main .p-badge .x-form-display-field {
    display: inline;
    padding: 3px 8px 3px 8px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: sub;
    border-radius: 5px;
}
.p-queue-main .p-badge-pending .x-form-display-field {
    background-color: gray;
}
.p-queue-main .p-badge-finished .x-form-display-field {
    background-color: green;
}
.p-queue-main .p-badge-failed .x-form-display-field {
    background-color: red;
}