/* X-BROWSER-WARNING: this is not being honored by Safari */
.ux-icon-combo-input {
    padding-left: 25px;
}

.x-form-item-body .ux-icon-combo-icon {
    top: 3px;
    left: 5px;
    width: 16px;
    height: 16px;
}

.ux-icon-combo-item {
    background-repeat: no-repeat ! important;
    background-position: 3px 50% ! important;
    padding-left: 24px ! important;
}